body {
    padding: 10px;
}

tr {
    text-align: center;
}

td.margin {
    width: 100px;
}

td.td-sumValue {
    text-align: right;
    padding-right: 70px;
}

input.autoImport {
    width: 100px;
}

span.showData {
    color:blue;
    white-space: nowrap;
}

span.showTitle {
    color:black;
    white-space: nowrap;
}


span.showParamData {
    color:blue;
    white-space: nowrap;
}

span.showParamTitle {
    color:black;
    white-space: nowrap;
}

table {
    border-spacing: 10px 5px;
}